@media (min-width: 1024px) {
  .main {
    width: 100%;
    height: auto;

    nav {
      width: 100%;
      height: 80px;
      background-image: url("../img/nav-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 10px 80px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      position: relative;

      .logo {
        width: 100px;
        height: auto;
        margin: 20px 0px;
      }

      .navigation {
        width: auto;
        height: auto;
        background: none;
        position: static;
        font-family: $sans-serif;
        margin-left: 0px;
        // top: 0px;
        transition: none;
        // top: 0px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .close {
          display: none;
        }
        .navlinks {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 40px;
          padding: 0px 0px;
          margin-right: 80px;
          margin-bottom: 0;

          li {
            padding: 0px;
            cursor: pointer;

            &:hover {
              background: none;
            }
          }

          a {
            text-decoration: none;
            color: $text-light;
            font-size: 18px;
            // transition: width 500ms ease-in 100ms;

            &:hover {
              &::after {
                content: "";
                display: block;
                width: 100%; /* Adjust width as needed */
                height: 2px; /* Adjust height as needed */
                background-color: $accent-light; /* Change color as needed */
                margin-top: 10px; /* Adjust spacing as needed */
              }
            }
          }
        }

        .accounts {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px 0px;
          gap: 30px;

          .login-btn {
            color: $text-dark;
            color: $text-light;
            font-weight: 700;
          }

          .signup-btn {
            background: $accent-light;
            padding: 12px 32px;
            text-decoration: none;
            border-radius: 8px;
            text-align: center;
            color: $text-dark;
            box-shadow: 0 6px 6px rgba($accent-light, 0.43);
          }
        }
      }

      .navigation.show {
        margin-left: 80px;
      }

      .menu-bar {
        display: none;
      }
    }

    .hero-section {
      width: 100%;
      height: 100vh;
      background-image: url("../img/hero-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      padding: 20px 80px;
      display: flex;
      justify-content: start;
      align-items: start;

      .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;

        padding-top: 60px;

        h1 {
          font-family: $serif;
          color: #fff;
          font-size: 56px;
          margin-right: 400px;
          font-weight: 500;
          text-align: start;
        }

        p {
          font-family: $sans-serif;
          font-weight: 300;
          color: #fff;
          font-size: 18px;
          background: rgba(#353232, 0.5);
          padding: 20px 35px;
          margin-right: 650px;
        }

        .hero-btn {
          display: flex;
          justify-content: start;
          gap: 30px;

          .reservation-btn {
            border: none;
            border-radius: 8px;
            background-color: $background-light;
            padding: 12px 32px;
            box-shadow: 0 6px 6px rgba(#ffffff, 0.43);

            a {
              text-decoration: none;
              color: $accent-light;
              font-family: sans-serif;
              font-size: 16px;
            }
          }

          .cta-btn {
            display: block;
            border: none;
            border-radius: 8px;
            background-color: $accent-light;
            padding: 12px 32px;
            box-shadow: 0 6px 6px rgba($accent-light, 0.43);

            a {
              text-decoration: none;
              color: #fff;
              font-family: sans-serif;
              font-size: 16px;
            }
          }
        }
      }
    }

    .about-section {
      width: 100%;
      height: 100vh;
      background-image: url("../img/about-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 60px 80px;
      // justify-content: start;
      // align-items: center;

      .about-img {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        position: relative;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;

        :nth-child(1) {
          grid-column: 1/2;
          grid-row: 1/2;
          position: absolute;
          left: 10px;
          width: 268px;
          height: auto;
        }

        :nth-child(3) {
          grid-column: 1/2;
          grid-row: 2/3;
          position: absolute;
          left: -8.5rem;
          top: 0.05rem;
          width: 413px;
          height: auto;
        }

        :nth-child(2) {
          display: block;
          grid-column: 2/3;
          grid-row: 1/3;

          position: absolute;
          top: 5.2rem;
        }
      }

      .about-contents {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 30px 50px;

        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: start;
        align-items: start;

        h1 {
          font-size: 56px;
          font-family: $serif;
          color: $accent-light;
        }

        p {
          color: $text-light;
          font-size: 16px;
          font-family: $sans-serif;
        }

        button {
          display: block;
          border: none;
          border-radius: 8px;
          background-color: $accent-light;
          padding: 12px 32px;
          box-shadow: 0 6px 6px rgba($accent-light, 0.43);

          a {
            text-decoration: none;
            color: #fff;
            font-family: sans-serif;
            font-size: 16px;
          }
        }
      }
    }

    .divider {

      display: block;
      width: 100%;
      height: 200px;
      padding: 60px 0px;

      img{
        width: 100%;
      }
    }

    .products-section {
      width: 100%;
      height: auto;
      background-image: url("../img/products-bg.png");
      padding: 100px 80px;

      display: flex;
      flex-direction: column;
      gap: 50px;

      .products-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 120px;
        gap: 15px;

        h1 {
          color: $accent-light;
          font-family: $serif;
          font-size: 36px;
          text-align: center;
        }

        p {
          color: $text-light;
          font-family: $sans-serif;
          text-align: center;
          font-size: 16px;
          font-weight: 400;
          padding: 0px 100px;
        }
      }

      .products-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 48px;

        .card {
          width: auto;
          height: auto;
          padding: 20px;
          border-radius: 5px;

          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 250px;
            height: 250px;
          }

          .product-name {
            color: $text-light;
            font-family: $sans-serif;
            font-size: 16px;
          }

          .rate {
            width: 100%;
            height: 20px;
            display: flex;
            gap: 10px;

            img {
              height: 20px;
              width: auto;
            }

            p {
              color: red;
              font-family: $sans-serif;
            }
          }
          button {
            display: block;
            border: none;
            border-radius: 8px;
            background-color: $accent-light;
            padding: 12px 32px;
            box-shadow: 0 6px 6px rgba($accent-light, 0.43);
            margin-top: 10px;

            a {
              text-decoration: none;
              color: #fff;
              font-family: sans-serif;
              font-size: 16px;
            }
          }
        }
      }
    }

    .service-section {
      width: 100%;
      height: 100vh;
      background: $background-light;
    }

    .reviews-section {
      width: 100%;
      height: 100vh;
      background: $background-light;
    }

    footer {
      width: 100%;
      height: 380px;
      background: $accent-light;
      padding: 50px 80px;

      .contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .ftr-content1 {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .logo {
            img {
              width: 150px;
              height: auto;
            }

            p {
              font-family: $serif;
              color: #fff;
              font-size: 20px;
            }
          }

          .subscribe {
            form {
              display: flex;
              gap: 10px;
              input {
                order: 1;
                width: 391px;
                height: auto;
                padding: 16px 54px 16px 12px;
                background: rgba(#ffffff, 0.9);
                border: none;
                border-radius: 5px;
              }

              button {
                order: 0;
                width: auto;
                height: auto;
                padding: 12px 32px;
                background: rgba(#ffffff, 0.9);
                border: none;
                border-radius: 5px;
              }
            }
          }
        }

        .ftr-content2 {
          display: flex;
          gap: 100px;
          margin-right: 50px;

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;

            li a {
              text-decoration: none;
              color: #fff;
              font-family: $sans-serif;
              font-size: 20px;
              font-weight: 300;
            }
          }
        }
      }

      .copyright {
        font-family: $sans-serif;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        margin-top: 60px;
        // position: absolute;
        // bottom: -20px;
      }
    }
  }
}
